@media screen and (max-width:900px) {
    :root {
        --color-primary: #191d2b;
        --color-secondary: #27ae60;
        --color-white: #ffffff;
        --color-black: #000;
        --color-grey0: #f8f8f8;
        --color-grey-1: #dbe1e8;
        --color-grey-2: #b2becd;
        --color-grey-3: #6c7983;
        --color-grey-4: #454e56;
        --color-grey-5: #2a2e35;
        --color-grey-7: #2a2e35;
        --color-grey-6: #12181b;
        --br-sm-2: 14px;
        --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
        --transition-1: all .4s ease-in-out;
        --transition-2: all .4s ease-out;
    }

    .light-mode {
        --color-primary: #FFFFFF;
        --color-secondary: #F56692;
        --color-white: #000000;
        --color-black: #000;
        --color-grey0: #1ddfe2;
        --color-grey-1: #6c7983;
        --color-grey-2: #ec205d;
        --color-grey-3: #6c7983;
        --color-grey-4: #ecd2e7;
        --color-grey-5: #ecd2e7;
        --color-grey-7: #ffffff;
        --color-grey-6: #ca69817e;
    }

    header {

        padding: 0 !important;
    }



    .header-content {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
        padding-top:3rem ;
        padding-left: 1rem;
        padding-right: 1rem;

    }

    .left-header {


        .h-shape {
            display: none;
        }


    }

    .right-header {
        grid-row: 1;
        padding-right: 0 !important;
        width: 90%;
        margin: 0 auto;

        .name {
            font-size: 2.5rem !important;
            text-align: center;
            padding-top: 3rem;
        }
    }

    .header-content .left-header .image {
        margin: 0 auto;
        width: 90%;
    }

    .controlls {

        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        top: auto;
        bottom: 0;

        background-color: var(--color-grey-7);
    }

    section {
        position: absolute;
        min-height: 100vh;
        width: 100%;
        left: 0;
        top: 0;
        padding: 3rem;
    }

    .about-container {

        grid-template-columns: repeat(1, 1fr);

        .right-about {
            grid-template-columns: repeat(1, 1fr);
            padding-top: 2.5rem;
        }

        .left-about {
            padding-right: 0;

            p {
                padding: 0;
            }
        }
    }

    .skill-container {
        padding-bottom: 2rem 2.5rem !important;

        .skill-stat {

            grid-template-columns: repeat(1, 1fr);
        }

    }

    .timeline-container {
        padding-bottom: 6rem !important;

        .timeline-content {

            grid-template-columns: repeat(1, 1fr);

        }
    }

    .portfolio-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
    }

    .blog-container {
        padding-bottom: 6rem;
        grid-template-columns: repeat(1, 1fr);

    }

    .contact-container {
        display: flex;
        flex-direction: column;
       

        .left-contact {
            text-align: center;
        }


    }

    .contact-item {
        display: flex;
        flex-direction: column;

        p {
            font-size: 15px;
        }

        span {
            font-size: 15px;
        }

        .contact-icon {
            grid-template-columns: 25px 1fr;
        }
    }

    .social-icons {

        margin-left: 15% !important;
        margin-top: 50px;
        width: 70%;
    }

    .right-contact {
        margin-bottom: 6rem;

    }

    .name-email {
        display: flex;
        flex-direction: column;
    }
    .main-title{
        h1{
            font-size: 2rem;
            span{
                font-size: 2.3rem;
            }
            .bg-text{
                font-size: 2.3rem;
            }
        }
    }



}