* {
  margin: o;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: #191d2b;
  --color-secondary: #27ae60;
  --color-white: #ffffff;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-7: #2a2e35;
  --color-grey-6: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
  --transition-1: all .4s ease-in-out;
  --transition-2: all .4s ease-out;
}

.light-mode {
  --color-primary: #FFFFFF;
  --color-secondary: #F56692;
  --color-white: #000000;
  --color-black: #000;
  --color-grey0: #1ddfe2;
  --color-grey-1: #6c7983;
  --color-grey-2: #ec205d;
  --color-grey-3: #6c7983;
  --color-grey-4: #ecd2e7;
  --color-grey-5: #ecd2e7;
  --color-grey-7: #ffffff;
  --color-grey-6: #ca69817e;
}

body {
  background-color: var(--color-primary);
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  color: var(--color-white);
  -webkit-transition: var(--transition-1);
  transition: var(--transition-1);
  padding: 0;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  min-height: 100vh;
  color: var(--color-white);
  overflow: hidden;
}

section {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.section {
  -webkit-transform: translateY(-100%) scale(0);
          transform: translateY(-100%) scale(0);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-color: var(--color-primary);
}

.sec1 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.sec4 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.sec5 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.active {
  display: block;
  -webkit-animation: scaleAnim 1s ease-in-out;
          animation: scaleAnim 1s ease-in-out;
}

@-webkit-keyframes scaleAnim {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    scaley: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaley(1);
            transform: translateY(0) scaley(1);
  }
}

@keyframes scaleAnim {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    scaley: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaley(1);
            transform: translateY(0) scaley(1);
  }
}

.controlls {
  position: fixed;
  top: 50%;
  right: 3%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.controlls .active-btn {
  background-color: var(--color-secondary) !important;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.controlls .active-btn i {
  color: var(--color-white) !important;
}

.controlls .control {
  padding: 1rem;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: var(--color-grey-4);
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  margin: 0.7rem 0;
  -webkit-box-shadow: var(--box-shadow-1);
          box-shadow: var(--box-shadow-1);
}

.controlls .control i {
  font-size: 1.5rem;
  color: var(--color-grey-2);
  pointer-events: none;
}

.header-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.header-content .left-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header-content .left-header .h-shape {
  background-color: var(--color-secondary);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  width: 65%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 53% 0, 81% 100%, 0 100%);
          clip-path: polygon(0 0, 53% 0, 81% 100%, 0 100%);
}

.header-content .left-header .image {
  border-radius: 14px;
  height: 90%;
  width: 68%;
  margin-left: 4rem;
  background-color: var(--color-black);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.header-content .left-header .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
  border-radius: inherit;
}

.header-content .left-header .image img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.header-content .right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 18rem;
}

.header-content .right-header .name {
  font-size: 3rem;
}

.header-content .right-header .name span {
  color: var(--color-secondary);
}

.header-content .right-header p {
  margin: 1.5rem 0;
  line-height: 2rem;
  font-size: 1rem;
}

.main-title {
  text-align: center;
}

.main-title h1 {
  text-transform: uppercase;
  position: relative;
  font-size: 4rem;
  font-weight: 700;
}

.main-title h1 span {
  color: var(--color-secondary);
}

.main-title h1 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-grey-5);
  -webkit-transition: all 4s ease-in-out;
  transition: all 4s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  font-weight: 800;
  font-size: 6.3rem;
}

.about-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.about-container .right-about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.about-container .right-about .about-items {
  border: 1px solid var(--color-grey-5);
  border-radius: 5px;
  -webkit-transition: var(--transition-1);
  transition: var(--transition-1);
  -webkit-box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.32);
          box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.32);
}

.about-container .right-about .about-items:hover {
  cursor: default;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  border: 1px solid var(--color-secondary);
  -webkit-box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
          box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
}

.about-container .right-about .about-items .about-text {
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0;
}

.about-container .right-about .about-items .about-text .large-text {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-secondary);
  margin-bottom: 0;
}

.about-container .right-about .about-items .about-text .small-text {
  padding-left: 3rem;
  position: relative;
  text-transform: uppercase;
  margin-top: 0;
  font-size: 1.2rem;
  color: var(--color-grey-1);
  letter-spacing: 2px;
}

.about-container .right-about .about-items .about-text .small-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 2rem;
  height: 2px;
  background-color: var(--color-grey-1);
}

.about-container .left-about {
  color: var(--color-grey-1);
  padding-right: 5rem;
}

.about-container .left-about p {
  line-height: 2rem;
  font-size: 1rem;
}

.about-container .left-about h4 {
  font-size: 2rem;
  text-transform: uppercase;
}

.skill-container {
  padding-bottom: 4rem;
}

.skill-container .skill-title {
  padding: 3.5rem 0;
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.skill-container .skill-title::before {
  content: "";
  width: 40%;
  height: 1px;
  background-color: var(--color-grey-5);
  position: absolute;
  left: 30%;
  top: 0;
}

.skill-container .skill-stat {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 0;
  grid-gap: 2rem;
}

.skill-container .skill-stat .skill-article {
  display: block;
  height: 4rem;
}

.skill-container .skill-stat .skill-article .stat-title {
  height: 50%;
  font-size: 1.5rem;
  font-weight: 500;
}

.skill-container .skill-stat .skill-article .stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill-container .skill-stat .skill-article .stat .bar-title {
  padding-top: 1.5%;
  display: block;
  font-size: 1.1rem;
  max-width: 30%;
  color: var(--color-grey-3);
  font-weight: 500;
}

.skill-container .skill-stat .skill-article .stat .bar-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3%;
  padding-left: 5%;
}

.skill-container .skill-stat .skill-article .stat .bar-box .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: .45rem;
  width: 100%;
  background-color: var(--color-grey-5);
}

.skill-container .skill-stat .skill-article .stat .bar-box .bar .range {
  background-color: var(--color-secondary);
  -webkit-transition: var(--transition-1);
  transition: var(--transition-1);
  height: .45rem;
}

.skill-container .skill-stat .skill-article .stat .bar-box .bar .html {
  width: 90%;
}

.skill-container .skill-stat .skill-article .stat .bar-box .bar .css {
  width: 95%;
}

.skill-container .skill-stat .skill-article .stat .bar-box .bar .java {
  width: 70%;
}

.skill-container .skill-stat .skill-article .stat .bar-box .bar .node {
  width: 75%;
}

.skill-container .skill-stat .skill-article .stat .bar-box .bar .react {
  width: 85%;
}

.skill-container .skill-stat .skill-article .stat .bar-box .bar .phyton {
  width: 67%;
}

.timeline-container {
  padding-bottom: 2rem;
}

.timeline-container .timeline-title {
  padding: 3.5rem 0;
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.timeline-container .timeline-title::before {
  content: "";
  width: 40%;
  height: 1px;
  background-color: var(--color-grey-5);
  position: absolute;
  left: 30%;
  top: 0;
}

.timeline-container .timeline-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.timeline-container .timeline-content .timeline-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border-left: 1px solid var(--color-grey-5);
}

.timeline-container .timeline-content .timeline-article .content-logo {
  background-color: var(--color-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  padding: 1rem;
  height: 50px;
  width: 50px;
  left: -27px;
  position: absolute;
}

.timeline-container .timeline-content .timeline-article .main-content {
  margin-left: 50px;
}

.timeline-container .timeline-content .timeline-article .main-content .date {
  margin-top: 10px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: 15px;
  background-color: var(--color-grey-5);
  padding: .2rem .6rem;
  font-size: .8rem;
  text-transform: uppercase;
  text-align: center;
}

.timeline-container .timeline-content .timeline-article .main-content .header {
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 0;
}

.timeline-container .timeline-content .timeline-article .main-content .header span {
  color: var(--color-grey-3);
  font-size: 1.2rem;
  font-weight: 500;
}

.timeline-container .timeline-content .timeline-article .main-content .header-content {
  color: var(--color-grey-3);
  display: inline-block;
  font-size: 1.2rem;
  width: 100%;
  max-height: 60px;
  margin-top: 0;
}

.portfolio .btn-container {
  margin-bottom: 4rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .btn-container .filter-btn {
  background: transparent;
  border-color: var(--color-secondary);
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  border-radius: 15px;
  padding: 0.375rem 0.75rem;
  color: var(--color-grey-2);
  cursor: pointer;
  -webkit-transition: var(--transition-1);
  transition: var(--transition-1);
}

.portfolio .btn-container .filter-btn .filter-btn:hover {
  background: var(--color-secondary);
  color: var(--color-grey-1);
}

.portfolio .portfolio-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.portfolio .portfolio-container .portfolio-content {
  position: relative;
  border-radius: 15px;
  height: 300px;
}

.portfolio .portfolio-container .portfolio-content .image-box {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  border-radius: 15px;
}

.portfolio .portfolio-container .portfolio-content .image-box img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio .portfolio-container .portfolio-content .background-box {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: var(--color-secondary);
  position: absolute;
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .portfolio-container .portfolio-content .background-box h2 {
  font-size: 1.5rem;
  text-align: center;
}

.portfolio .portfolio-container .portfolio-content .background-box .portfolio-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 60%;
}

.portfolio .portfolio-container .portfolio-content .background-box .portfolio-icons .portfolio-icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-grey-6);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.portfolio .portfolio-container .portfolio-content .background-box .portfolio-icons .portfolio-icon i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: var(--color-white);
  margin-top: .75rem;
}

.portfolio .portfolio-container .portfolio-content .background-box .portfolio-icons .portfolio-icon:hover {
  background-color: var(--color-white);
}

.portfolio .portfolio-container .portfolio-content .background-box .portfolio-icons .portfolio-icon:hover i {
  color: var(--color-primary);
}

.portfolio .portfolio-container .portfolio-content:hover .background-box {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.blog-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.blog-container .blog-content {
  background-color: var(--color-primary);
  position: relative;
  border-radius: 5px;
  -webkit-transition: var(--transition-2);
  transition: var(--transition-2);
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
}

.blog-container .blog-content:hover {
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: var(--transition-2);
  transition: var(--transition-2);
}

.blog-container .blog-content:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
}

.blog-container .blog-content img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.blog-container .blog-content .blog-text {
  margin-top: -7px;
  padding: 1.1rem;
  border-top: 8px solid var(--color-secondary);
  background-color: var(--color-grey-7);
}

.blog-container .blog-content .blog-text h2 {
  font-size: 1.5rem;
  margin-bottom: .7rem;
  cursor: pointer;
  -webkit-transition: var(--transition-2);
  transition: var(--transition-2);
}

.blog-container .blog-content .blog-text h2:hover {
  color: var(--color-secondary);
}

.blog-container .blog-content .blog-text p {
  color: var(--color-white);
  line-height: 2;
  padding-bottom: 1.5rem;
  font-size: 1rem;
}

.contact-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}

.contact-container .left-contact h2 {
  font-size: 2rem;
  margin-top: 1rem;
}

.contact-container .left-contact p {
  margin: 1rem 0;
  line-height: 2rem;
}

.contact-container .left-contact .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-container .left-contact .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 80px;
  margin-top: 50px;
  width: 70%;
}

.contact-container .left-contact .social-icons .social-icon {
  background-color: var(--color-grey-5);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-container .right-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-container .right-contact .input-control {
  margin: 1.5rem 0;
}

.contact-container .right-contact .input-control input,
.contact-container .right-contact .input-control textarea {
  border-radius: 30px;
  padding: 0.8rem 1.1rem;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  outline: none;
  background-color: var(--color-grey-5);
  width: 100%;
  color: var(--color-white);
  resize: none;
}

.contact-container .right-contact .name-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-container .right-contact .submit-btn {
  width: 40%;
  margin-top: -2rem;
  margin-bottom: 1rem;
  border-radius: 30px;
  background-color: var(--color-grey-5);
  padding: 0.8rem;
  color: var(--color-white);
  font-size: 1.2rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.theme-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  position: fixed;
  background-color: var(--color-grey-4);
  top: 50px;
  right: 40px;
}

.theme-btn i {
  color: var(--color-white);
  font-size: 1.5rem;
}

.btn-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.btn-con .main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.btn-con .main-btn .btn-text {
  padding: 0 2rem;
}

.btn-con .main-btn .btn-icon {
  background-color: var(--color-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}

.btn-con .main-btn::before {
  content: "";
  position: absolute;
  border-radius: 30px;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: var(--transition-2);
  transition: var(--transition-2);
  z-index: -1;
}

.btn-con .main-btn:hover {
  -webkit-transition: var(--transition-2);
  transition: var(--transition-2);
}

.btn-con .main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  border-radius: 30px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: var(--transition-2);
  transition: var(--transition-2);
}

@media screen and (max-width: 900px) {
  :root {
    --color-primary: #191d2b;
    --color-secondary: #27ae60;
    --color-white: #ffffff;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-7: #2a2e35;
    --color-grey-6: #12181b;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
    --transition-1: all .4s ease-in-out;
    --transition-2: all .4s ease-out;
  }
  .light-mode {
    --color-primary: #FFFFFF;
    --color-secondary: #F56692;
    --color-white: #000000;
    --color-black: #000;
    --color-grey0: #1ddfe2;
    --color-grey-1: #6c7983;
    --color-grey-2: #ec205d;
    --color-grey-3: #6c7983;
    --color-grey-4: #ecd2e7;
    --color-grey-5: #ecd2e7;
    --color-grey-7: #ffffff;
    --color-grey-6: #ca69817e;
  }
  header {
    padding: 0 !important;
  }
  .header-content {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .left-header .h-shape {
    display: none;
  }
  .right-header {
    -ms-grid-row: 1;
    grid-row: 1;
    padding-right: 0 !important;
    width: 90%;
    margin: 0 auto;
  }
  .right-header .name {
    font-size: 2.5rem !important;
    text-align: center;
    padding-top: 3rem;
  }
  .header-content .left-header .image {
    margin: 0 auto;
    width: 90%;
  }
  .controlls {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    top: 96%;
    background-color: var(--color-grey-7);
  }
  .controlls .control {
    margin: .3rem;
  }
  section {
    position: absolute;
    min-height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    padding: 3rem;
  }
  .about-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .about-container .right-about {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    padding-top: 2.5rem;
  }
  .about-container .left-about {
    padding-right: 0;
  }
  .about-container .left-about p {
    padding: 0;
  }
  .skill-container {
    padding-bottom: 2rem 2.5rem !important;
  }
  .skill-container .skill-stat {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .timeline-container {
    padding-bottom: 6rem !important;
  }
  .timeline-container .timeline-content {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .portfolio .main-title p {
    font-size: 1rem;
  }
  .portfolio .btn-container {
    max-width: 300px;
    display: -ms-grid;
    display: grid;
    grid-row-gap: 1rem;
    grid-column-gap: 0.3rem;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio .btn-container .filter-btn {
    font-size: 0.8rem;
  }
  .portfolio .portfolio-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }
  .blog-container {
    padding-bottom: 6rem;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-container .left-contact {
    text-align: center;
  }
  .contact-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-item p {
    font-size: 15px;
  }
  .contact-item span {
    font-size: 15px;
  }
  .contact-item .contact-icon {
    -ms-grid-columns: 25px 1fr;
        grid-template-columns: 25px 1fr;
  }
  .social-icons {
    margin-left: 15% !important;
    margin-top: 50px;
    width: 70%;
  }
  .right-contact {
    margin-bottom: 6rem;
  }
  .name-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-title h1 {
    font-size: 2rem;
  }
  .main-title h1 span {
    font-size: 2.3rem;
  }
  .main-title h1 .bg-text {
    font-size: 2.3rem;
  }
  .theme-btn {
    top: 30px;
  }
}
/*# sourceMappingURL=style.css.map */